html {
  font-size: 0.6em;
}

body {
  background: #ffc600;
  font-family: 'helvetica neue';
  font-weight: 200;
  font-size: 20px;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 1rem auto;
}

#input-field {
  display: flex;
  flex: 1;
  width: 50rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem 1rem 5rem;
  background: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(#d9eaf3),
      color-stop(4%, #fff)
    )
    0 4px;
  background-size: 100% 4rem;
  line-height: 3rem;
}

.inbox {
  max-width: 100%;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  width: 46vw;
  flex-wrap: wrap;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  background: #f9f9f9;
  text-decoration: line-through;
}

input[type='checkbox'] {
  margin: 20px;
}

.tody-text {
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  flex: 1;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #d1e2ff;
}

.no-todo {
  padding: 2rem 1.5rem;
}

#form-field {
  position: relative;
}

.speech-image {
  display: inline-block;
  background: url('../img/googlemic_color_24dp.png') 0 0 no-repeat;
  height: 24px;
  width: 24px;
  background-size: 24px;
  vertical-align: middle;
  border: 5px solid transparent;
  position: absolute;
  top: 20%;
  right: 0;
  cursor: pointer;
}
